*.o
*.cmd
*.so
*.su
*.img

System.map
arch/arm/lib/asm-offsets.s
arch/arm/lib/lib.a
include/config/
include/generated/
lib/asm-offsets.s
u-boot.bin
u-boot.lds
u-boot.map
u-boot.srec
/u-boot
/rk3399_loader_v1.12.112.bin
